update=<TMPL_VAR NAME="UPDATE_AT">
<TMPL_LOOP NAME="SERVICES">
plugin=<TMPL_VAR NAME="NODE">
[state]
<TMPL_LOOP NAME="FIELDINFO">#<TMPL_VAR NAME="INFO">
<TMPL_VAR NAME="FIELD">=<TMPL_IF NAME="STATE_WARNING">warning<TMPL_ELSE><TMPL_IF NAME="STATE_CRITICAL">critical<TMPL_ELSE>normal</TMPL_IF>
</TMPL_IF>
</TMPL_LOOP>
</TMPL_LOOP>	    